<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="QuanLyLopHoc.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="QuanLyLopHoc.Properties.Settings.CK_QLHS_DBConnectionString"
      connectionString="Data Source=LAPTOP-FVG171V2;Initial Catalog=CK_QLHS_DB;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
      providerName="System.Data.SqlClient" />
    <add name="QuanLyLopHoc.Properties.Settings.QuanLyLopHocDBConnectionString"
      connectionString="Data Source=LAPTOP-FVG171V2;Initial Catalog=QuanLyLopHocDB;Integrated Security=True;TrustServerCertificate=True"
      providerName="System.Data.SqlClient" />
    <add name="QuanLyLopHoc.Properties.Settings.QuanLyLopHocDBConnectionString1"
      connectionString="Data Source=LAPTOP-FD1O1A9M;Initial Catalog=QuanLyLopHocDB;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="QuanLyLopHoc.Properties.Settings.QuanLyLopHocDBConnectionString2"
      connectionString="Data Source=LAPTOP-FVG171V2;Initial Catalog=QuanLyLopHocDB;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value>System</value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value>True</value>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <userSettings>
    <QuanLyLopHoc.Properties.Settings>
      <setting name="UserName" serializeAs="String">
        <value />
      </setting>
      <setting name="Password" serializeAs="String">
        <value />
      </setting>
      <setting name="RememberMe" serializeAs="String">
        <value>False</value>
      </setting>
    </QuanLyLopHoc.Properties.Settings>
  </userSettings>
</configuration>